.piece-name{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 30px auto -20px 10px;
}

.table-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: auto;
}

.feature-card {
  flex: 1 0 calc(48% - 15px);
  max-width: calc(48% - 15px);
  margin: 30px 1%;
  box-sizing: border-box;
}


.status {
  display: flex;
  align-items: center;
  color: white;
  padding: 2px !important;
  margin-bottom: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.green-status {
  background-color: #36AE7C;
}

.yellow-status {
  background-color: #F4CE14;
}

.red-status {
  background-color: #FE0000;
}

.iconCircle {
  fill: white;
  margin-left: 10px;
  font-weight: bold;
}

h3{
  margin-left: 40px;
  width: 200px;
}

.icon-status{
  fill: white;
  margin-left: 50%;
}

.table-container {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #D0D4CA;
  padding: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.control{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 8px;
  text-align: center;
  width: 35%;
  box-sizing: border-box;
  color: #434242;
}

.cell {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 8px;
  text-align: center;
  width: 35%;
  box-sizing: border-box;
  color: #434242;
}

.green-status-table {
  fill: #36AE7C;
}

.yellow-status-table {
  fill: #F4CE14;
}

.red-status-table {
  fill: #FE0000;
}

.element{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 8px;
  text-align: left;
  width: 35%;
  box-sizing: border-box;
  color: #434242;
}

.row .cell .element .control{
  width: 100%;
}

.header {
  font-weight: bold;
}
