.piece-name{
  margin-left: 20px;
  margin-bottom: -20px;
}

.feature-card {
  margin: 10px;
  padding: 10px;
  width: 48%; /* Ajusta el ancho para que quepan dos en horizontal */
  box-sizing: border-box;
}

.feature-name{
  background-color: #FFC436;
  padding: 20px;
  color: white;
  margin-bottom: 0px;
}

.table-container {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #D0D4CA;
  padding: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.cell {
  padding: 8px;
  text-align: center;
  width: 48%;
  box-sizing: border-box;
}

.element{
  padding: 8px;
  text-align: left;
  width: 48%;
  box-sizing: border-box;
}

.row .cell .element{
  width: 100%; /* Ocupa todo el ancho de la celda */
}

.header {
  font-weight: bold;
}
